.next
node_modules
package-lock.json
yarn.lock
.env
.env.local
.env.production
.env.production.local
.env.test
.env.test.local
.env.development
.env.development.local
pnpm-lock.yaml
.vercel
build

sw.js
workbox-config.js
workbox-*.js
.env*.local
